
ConfuserEx/obj/Debug/ConfuserEx_MarkupCompile.i.cache
ConfuserEx/obj/Debug/ConfuserEx_MarkupCompile.i.lref
ConfuserEx/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConfuserEx/Properties/AssemblyInfo.cs
Debug/bin/Confuser.Core.dll
Debug/bin/Confuser.Core.pdb
Debug/bin/Confuser.DynCipher.dll
Debug/bin/Confuser.DynCipher.pdb
ConfuserEx/obj/Debug/ConfuserEx_MarkupCompile.i.cache
ConfuserEx/obj/Debug/ConfuserEx_MarkupCompile.i.lref
ConfuserEx/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConfuserEx/Properties/AssemblyInfo.cs
Debug/bin/Confuser.Core.dll
Debug/bin/Confuser.Core.pdb
Debug/bin/Confuser.DynCipher.dll
Debug/bin/Confuser.DynCipher.pdb
Debug/bin/Confuser.Protections.dll
Debug/bin/Confuser.Protections.pdb
Debug/bin/Confuser.Renamer.dll
Debug/bin/Confuser.Renamer.pdb
Debug/bin/Confuser.Runtime.dll
Debug/bin/Confuser.Runtime.pdb
Debug/bin/ConfuserEx.exe
Debug/bin/ConfuserEx.pdb
ConfuserEx/obj/Debug/ConfuserEx_MarkupCompile.i.cache
ConfuserEx/obj/Debug/ConfuserEx_MarkupCompile.i.lref
ConfuserEx/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConfuserEx/Properties/AssemblyInfo.cs
Debug/bin/Confuser.Core.dll
Debug/bin/Confuser.Core.pdb
Debug/bin/Confuser.DynCipher.dll
Debug/bin/Confuser.DynCipher.pdb
Debug/bin/Confuser.Protections.dll
Debug/bin/Confuser.Protections.pdb
Debug/bin/Confuser.Renamer.dll
Debug/bin/Confuser.Renamer.pdb
Debug/bin/Confuser.Runtime.dll
Debug/bin/Confuser.Runtime.pdb
Debug/bin/ConfuserEx.exe
Debug/bin/ConfuserEx.pdb
Release/bin/ConfuserEx.pdb
Release/bin/ConfuserEx.exe
Release/bin/Confuser.Runtime.pdb
Release/bin/Confuser.Runtime.dll
Release/bin/Confuser.Renamer.pdb
*.resources
*.dll
*.cache
*.cache
*.exe
*.dll
*.pdb
